
.card {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 4px #DEDEDE;
    transition: 0.3s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
}

.card:hover {
    box-shadow: 2px 2px 4px 4px #b2b2b2;}

.card-front-face {
    size:50%;

}

img {
    width: 100%;
    height: 100%;
  }