
.card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* box-shadow: 2px 2px 4px 4px #DEDEDE; */
    transition: 0.3s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
    border-color: transparent;
    place-items: center;
    /* &.card-back{
        transform: rotateY(180deg);  
      }*/
    backface-visibility: hidden;
}

.card:hover {
    box-shadow:  #b2b2b2;
    scale: 100%;}

img {
    width: 100%;
    height:100%;
    /* box-shadow: 2px 2px 2px 2px #DEDEDE; */
    border-radius: 10px;
    border-color: aquamarine;
    border-width: 10px;
  }

.card-face{
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.3s;
    border: 3px solid #fff; /* White border for the card */
    border-radius: 10px; /* Adjust border-radius as needed */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); Optional shadow for the card */
    /* box-shadow: rgba(131, 165, 205, 0.4) 0px 0px 0px 2px, rgba(41, 68, 100, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }


/* .back{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform: rotateY(180deg);
      } */

/* .flipcard {
    transform: rotateY(180deg);
      } */


.card-face.front {
  transform: rotateY(0deg);
}

.card-face.back {
  transform: rotateY(180deg);
}

.card.flipped .card-face.front {
  transform: rotateY(180deg);
}

.card.flipped .card-face.back {
  transform: rotateY(0deg);
}

.card.flipped .card-face.back .active {
  transform: rotateY(0deg);
}