.App {
  text-align: center;
  display: grid;
  place-items: center;
  background-color: rgb(234, 205, 255);
  /* position: absolute; */
}

.game-board {
  display: grid;
  border: 1px solid #502fe7;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
  padding: 2rem;
  width: 360px;
  height:360px;
  background-color: rgb(214, 244, 231);
  border-radius: 10px;
  align-items: stretch;
}
