html {
  background-color: rgb(240, 220, 255);
}

.App {
  text-align: center;
  display: grid;
  place-items: center;
  /* background-color: rgb(234, 205, 255); */
  /* position: absolute; */
  font-family:Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif ;
}

.game-board {
  display: grid;
  border: 1px solid #502fe7;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
  padding-top: 20px;
  padding: 2rem;
  width: 500px;
  height:500px;
  background-color: rgb(230, 255, 244);
  border-radius: 10px;
  align-items: stretch;
}
.new-game-button {
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  font-size: 1.3em;
  font-weight: 800;
  cursor: pointer;
  transform: perspective(1px) translateZ(0px);
  transition-duration: 0.2s;
  background-color: rgb(104, 66, 255);
  -webkit-box-align: center;
  align-items: center;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  border-radius: 80px;
  padding: 14px 30px;
  gap: 5px;
  border: transparent;
  
}

.score {
  align-items: center;
  padding-top:25px;
  display: flexbox;
  justify-content: space-around;
  flex-direction: row;
  
}

.moves {
  font-weight: 600;
  text-transform: uppercase;
  
}

.matches {
  font-weight: 600;
  text-transform: uppercase;
  /* padding-right: 30px; */
}
