html {
  background-color: rgba(255,209,235,255);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* place-items: center; */
  background-color: rgba(255,209,235,255);
  /* position: absolute; */
  font-family:Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif ;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: url('./assets/background.jpg');
  background-position: center center cover no-repeat fixed;
  background-size: cover; */
}

.game-board {
  display: grid;
  border: 1px solid #8775da;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
  margin-top: -10px;
  padding: 2rem;
  width: 500px;
  height:500px;
  background-color: #f6f6f8;
  border-radius: 10px;
  align-items: stretch;
  box-shadow: rgba(141, 123, 240, 0.15) 0px 48px 100px 0px;
}

/* svg {
  font-size: 40px;
  font-weight: bold;
  width: 450px;
  height: 70px;
  fill: white;
}*/
.tech-stack {
  margin-bottom: 20px;
}

.svgText {
  fill: rgba(228,51,113,255);
  stroke: rgb(255, 255, 255);
  stroke-width: 15px;
  stroke-linejoin: round;
  paint-order: stroke;
  font-weight: 1000;
}

.new-game-button {
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  font-size: 1.3em;
  font-weight: 800;
  cursor: pointer;
  transform: perspective(1px) translateZ(0px);
  transition-duration: 0.2s;
  background-color: rgba(43,196,138,255);
  -webkit-box-align: center;
  align-items: center;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  border-radius: 80px;
  padding: 10px 25px;
  gap: 5px;
  border: transparent;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 20px; /* Add bottom margin for spacing */
  position: relative;
}

.new-game-button:hover {
  border: 0px solid #1292e1;
  background: green;
  color: white !important;
  
}

.scores {
  align-items: center;
  display: flexbox;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px; /* Add bottom margin for spacing */
  font-weight: 700;
  font-size: 20px;
  color: rgba(80,76,169,255);
}


.matches {
  text-transform: uppercase;
  margin-right: 20px; /* Add right margin to create spacing */
}

.moves {
  /* font-weight: 600; */
  text-transform: uppercase;
  /* padding-right: 30px; */
}

.highest-score {
  /* font-weight: 600; */
  text-transform: uppercase;
  margin-left: 20px; /* Add left margin to create spacing */
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px; /* Add top margin for spacing */
}

.github:hover , .minh:hover{
  cursor: pointer;
  color: rgba(43,196,138,255);
}

.reference {
  margin-top: auto; /* Pushes this container to the bottom */
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .tech-stack, .reference {
    font-size: 15px;
  }

  .game-board {
    width: 90%; /* Adjust the width as needed */
    max-width: 400px; /* Set a maximum width for the game board */
    aspect-ratio: 1/1; /* Maintain a square aspect ratio */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    gap: 5px; /* Adjust the gap between cards as needed */
    padding:10px;
    border: 2px solid #502fe7;
    margin-top: -10px;
    /* padding-top: 90%; */
    height: calc(85% / 2); /* Adjust the percentage as needed for your layout */
  }

    .scores {
      margin:15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap; /* Ensure the scores stay in one line */
      font-size:smaller;
    }
.welcome {
    font-size:25px;
    margin-top: -30px;
    }

  .svgText {
    font-size: 60px; /* Set a minimum font size for smaller screens */
  }
  
  .svg {
    margin-bottom: 0px;
    height:50px;

  }

  .new-game-button {
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    transform: perspective(1px) translateZ(0px);
    background-color: rgba(43,196,138,255);
    padding: 5px 8px;
    margin-bottom: -5px; 

  }

  .reference {
    margin-top: 90px;
  }

  .reference-div {
    position: fixed;
    bottom: -30px; /* Adjust this value to control the vertical position */
    right: 20px; /* Adjust this value to control the horizontal position */
    /* Add other styling properties as needed */
  }

  }